:host {
  --dig-input-select-picker-option-text-color: var(
    --dig-input-global-selection-color
  );
  --dig-input-select-picker-option-padding: 10px 14px;
  --dig-input-select-picker-option-font-size: var(
    --dig-input-global-big-font-size
  );
  --dig-input-select-picker-option-background-color: var(
    --dig-input-global-selection-background-color
  );
  --dig-input-select-picker-option-hover-color: var(
    --dig-input-global-selection-hover-color
  );
  --dig-input-select-picker-option-selected-color: var(
    --dig-input-global-selection-selected-color
  );
  --dig-input-select-picker-option-selected-and-hover-color: var(
    --dig-input-global-selection-selected-and-hover-color
  );

  z-index: 10;

  .dig-ui-select-option {
    position: relative;
    display: flex;
    border-collapse: collapse;
    padding: var(--dig-input-select-picker-option-padding);
    font-size: var(--dig-input-select-picker-option-font-size);
    background-color: var(--dig-input-select-picker-option-background-color);
    overflow: none;
    color: var(--dig-input-select-picker-option-text-color);
    align-items: center;

    &:hover {
      background-color: var(--dig-input-select-picker-option-hover-color);
    }

    &.selected {
      background-color: var(--dig-input-select-picker-option-selected-color);

      &:hover {
        background-color: var(
          --dig-input-select-picker-option-selected-and-hover-color
        );
      }
    }

    &:not(.visible) {
      display: none;
    }
  }
}
