:host {
  --dig-input-select-wrapper-padding-horizontal: 2px;
  --dig-input-select-wrapper-padding-vertical: 8px;

  --dig-input-select-font-size: var(--dig-input-global-big-font-size);

  --dig-input-select-label-color: var(--dig-input-global-label-color);
  --dig-input-select-label-font-size: var(--dig-input-global-big-font-size);
  --dig-input-select-label-left: 8px;
  --dig-input-select-label-padding-horizontal: 6px;
  --dig-input-select-label-padding-vertical: 0px;
  --dig-input-select-label-scale: var(--dig-input-global-label-scale);
  --dig-input-select-label-animation-duration: var(
    --dig-input-global-label-animation-duration
  );
  --dig-input-select-label-asterisk-color: var(
    --dig-input-global-invalid-color
  );
  --dig-input-select-label-box-shadow: var(--dig-input-global-box-shadow-label)
    var(--dig-input-global-transparent-focused-color);

  --dig-input-select-picker-suggestion-diplayed: 6;

  --dig-input-select-label-max-width: calc(
    100% - 2 * var(--dig-input-select-label-padding-horizontal) -
      var(--dig-input-select-label-left)
  );

  --dig-input-select-disabled-color: var(--dig-input-global-disabled-color);
  --dig-input-select-border-radius: 4px;
  --dig-input-select-padding-vertical: 12px;
  --dig-input-select-padding-horizontal: 12px;
  --dig-input-select-selection-space: 6px;
  --dig-input-select-background-color: var(--dig-input-global-background-color);
  --dig-input-select-color: var(--dig-input-global-color);

  position: relative;
  display: block;
  margin: 0;
  padding-top: var(--dig-input-select-wrapper-padding-vertical);
  padding-bottom: var(--dig-input-select-wrapper-padding-vertical);
  padding-left: var(--dig-input-select-wrapper-padding-horizontal);
  padding-right: var(--dig-input-select-wrapper-padding-horizontal);
  line-height: 1;

  .dig-input-select-picker {
    cursor: pointer;

    &.disabled {
      pointer-events: none;
    }
  }

  dig-input-label {
    --dig-input-label-color: var(--dig-input-select-label-color);
    --dig-input-label-background-color: var(
      --dig-input-select-background-color
    );
  }

  .dig-input-select-picker-search {
    position: relative;
    display: inline-flex;
    flex-grow: 1;
    font-size: var(--dig-input-select-font-size);
    border-radius: var(--dig-input-select-border-radius);
    border: 0;
    margin: 0;
    outline: 0;
    box-shadow: 0 0;
    padding-left: var(--dig-input-select-padding-horizontal);
    padding-right: var(--dig-input-select-padding-horizontal);
    padding-top: var(--dig-input-select-padding-vertical);
    padding-bottom: var(--dig-input-select-padding-vertical);
    background-color: var(--dig-input-select-background-color);
    color: var(--dig-input-select-color);

    &.disabled {
      cursor: default;
      background-color: var(--dig-input-select-disabled-color);
    }

    &.cannot-be-focused {
      pointer-events: none;
    }
  }

  .selection {
    position: relative;
    left: 0;
    top: var(--dig-input-select-selection-space);
  }

  dig-input-close {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
  }

  dig-input-selection {
    position: absolute;
    left: 0;

    &.below {
      top: 0px;
    }

    &.above {
      bottom: calc(
        2 * var(--dig-input-select-wrapper-padding-vertical) + 2 *
          var(--dig-input-select-padding-vertical) +
          var(--dig-input-select-font-size) +
          var(--dig-input-select-selection-space)
      );
    }
  }

  dig-input-label {
    --dig-input-label-cursor: pointer;

    --dig-input-label-left: var(--dig-input-select-label-left);
    --dig-input-label-color: var(--dig-input-select-label-color);
    --dig-input-label-font-size: var(--dig-input-select-label-font-size);
    --dig-input-label-padding-horizontal: var(
      --dig-input-select-label-padding-horizontal
    );
    --dig-input-label-padding-vertical: var(
      --dig-input-select-label-padding-vertical
    );
    --dig-input-label-animation-duration: var(
      --dig-input-select-label-animation-duration
    );
    --dig-input-label-box-shadow: var(--dig-input-select-label-box-shadow);
    --dig-input-label-asterisk-color: var(
      --dig-input-select-label-asterisk-color
    );
    --dig-input-label-scale: var(--dig-input-select-label-scale);
  }
}
