:host {
  --dig-input-number-font-size: var(--dig-input-global-big-font-size);
  --dig-input-number-padding-vertical: 12px;
  --dig-input-number-padding-horizontal: 12px;
  --dig-input-number-border-radius: 4px;

  --dig-input-number-label-left: 8px;
  --dig-input-number-label-padding-vertical: 0px;
  --dig-input-number-label-padding-horizontal: 6px;
  --dig-input-number-label-font-size: var(--dig-input-global-big-font-size);
  --dig-input-number-label-scale: var(--dig-input-global-label-scale);
  --dig-input-number-label-animation-duration: var(
    --dig-input-global-label-animation-duration
  );
  --dig-input-number-error-font-size: var(--dig-input-global-normal-font-size);
  --dig-input-number-error-padding: 4px;
  --dig-input-number-error-color: var(--dig-input-global-invalid-color);
  --dig-input-number-error-animation-duration: 0.3s;
  --dig-input-number-hint-font-size: var(--dig-input-global-normal-font-size);
  --dig-input-number-hint-padding: 4px;
  --dig-input-number-hint-animation-duration: 0.3s;
  --dig-input-number-asterisk-color: var(--dig-input-global-invalid-color);
  --dig-input-number-maxlength-color: var(--dig-input-global-hint-color);
  --dig-input-number-maxlength-font-size: 10px;
  --dig-input-number-maxlength-padding: 4px;
  --dig-input-number-wrapper-top: calc(
    calc(
        var(--dig-input-number-label-font-size) +
          var(--dig-input-number-label-padding-vertical)
      ) / 2
  );
  --dig-input-number-wrapper-bottom: calc(
    var(--dig-input-number-error-font-size) + 2 *
      var(--dig-input-number-error-padding)
  );
  --dig-input-number-wrapper-left: 2px;
  --dig-input-number-wrapper-right: 2px;
  --dig-input-number-password-button-size: 24px;
  --dig-input-number-label-max-width: calc(
    100% - 2 * var(--dig-input-number-label-padding-horizontal) -
      var(--dig-input-number-label-left)
  );
  --dig-input-number-disabled-color: var(--dig-input-global-disabled-color);
  --dig-input-number-label-color: var(--dig-input-global-label-color);
  --dig-input-number-hint-color: var(--dig-input-global-hint-color);
  --dig-input-number-label-box-shadow: var(--dig-input-global-box-shadow-label)
    var(--dig-input-global-transparent-focused-color);

  --dig-input-number-prefix-width: 40px;
  --dig-input-number-suffix-width: 40px;
  --dig-input-number-prefix-padding-horizontal: 8px;
  --dig-input-number-suffix-padding-horizontal: 8px;
  --dig-input-number-background-color: var(--dig-input-global-background-color);
  --dig-input-number-color: var(--dig-input-global-color);

  position: relative;
  display: block;
  margin: 0;
  padding-top: var(--dig-input-number-wrapper-top);
  padding-bottom: var(--dig-input-number-wrapper-bottom);
  padding-left: var(--dig-input-number-wrapper-left);
  padding-right: var(--dig-input-number-wrapper-right);
  line-height: 1;

  .dig-input-number {
    position: relative;
    display: inline-flex;
    flex-grow: 1;
    font-size: var(--dig-input-number-font-size);
    border-radius: var(--dig-input-number-border-radius);
    border: 0;
    margin: 0;
    outline: 0;
    box-shadow: 0 0;
    padding-left: var(--dig-input-number-padding-horizontal);
    padding-right: var(--dig-input-number-padding-horizontal);
    padding-top: var(--dig-input-number-padding-vertical);
    padding-bottom: var(--dig-input-number-padding-vertical);
    background-color: var(--dig-input-number-background-color);
    color: var(--dig-input-number-color);

    &.disabled {
      background-color: var(--dig-input-number-disabled-color);
    }
  }

  dig-input-label {
    --dig-input-label-color: var(--dig-input-number-label-color);
    --dig-input-label-background-color: var(
      --dig-input-number-background-color
    );
  }

  dig-input-fixed-text {
    --dig-input-fixed-text-background-color: var(
      --dig-input-number-background-color
    );
    --dig-input-fixed-text-color: var(--dig-input-number-color);
  }
}
