:host {
  --dig-input-checkbox-wrapper-padding-vertical: 8px;
  --dig-input-checkbox-wrapper-padding-horizontal: 2px;
  --dig-input-checkbox-checkmark-size: 20px;
  --dig-input-checkbox-label-color: var(--dig-input-global-label-color);
  --dig-input-checkbox-label-left: 8px;
  --dig-input-checkbox-checkmark-background-color: var(
    --dig-input-global-valid-color
  );
  --dig-input-checkbox-checkmark-box-shadow: var(
      --dig-input-global-box-shadow-thin
    )
    var(--dig-input-global-border-color);
  --dig-input-checkbox-checkmark-box-shadow-focused: var(
      --dig-input-global-box-shadow-blur
    )
    var(--dig-input-global-focused-color);
  --dig-input-checkbox-checkmark-hover-color: #eeeeee;
  --dig-input-checkbox-checkmark-color: white;
  --dig-input-checkbox-checkmark-background-radius: 2px;
  --dig-input-checkbox-checkmark-radius: 4px;
  --dig-input-checkbox-checkmark-before-width: 3px;
  --dig-input-checkbox-checkmark-before-height: 10px;
  --dig-input-checkbox-checkmark-after-width: 3px;
  --dig-input-checkbox-checkmark-after-height: 16px;
  --dig-input-checkbox-checkmark-transition-duration: 0.3s;
  --dig-input-checkbox-text-input-box-shadow: var(
      --dig-input-global-box-shadow-thin
    )
    var(--dig-input-global-border-color);
  --dig-input-checkbox-text-input-focused-box-shadow: var(
      --dig-input-global-box-shadow-blur
    )
    var(--dig-input-global-focused-color);
  --dig-input-checkbox-text-input-padding: 4px;
  --dig-input-checkbox-text-input-border-radius: 2px;
  --dig-input-checkbox-field-height: 20px;

  position: relative;
  display: grid;
  padding: var(--dig-input-checkbox-wrapper-padding-vertical)
    var(--dig-input-checkbox-wrapper-padding-horizontal);
  text-align: left;
  line-height: 1;

  .checkbox {
    position: absolute;
    opacity: 0;

    &:focus {
      ~ .checkmark {
        box-shadow: var(--dig-input-checkbox-checkmark-box-shadow-focused);
      }
    }

    &:checked {
      ~ .checkmark {
        background-color: var(--dig-input-checkbox-checkmark-background-color);

        &:before {
          transform: rotate(-30deg) translateY(8px);
          left: 0px;
          opacity: 1;
        }

        &:after {
          transform: rotate(40deg) translateY(6px) translateX(-4px);
          opacity: 1;
        }
      }
    }

    &:not(:checked):hover {
      ~ .checkmark {
        background-color: var(--dig-input-checkbox-checkmark-hover-color);
      }
    }

    &.checkbox-text:checked {
      ~ .input-text {
        display: flex;
      }

      ~ .label {
        display: none;
      }
    }
  }

  .checkmark {
    display: inline-flex;
    box-shadow: var(--dig-input-checkbox-checkmark-box-shadow);
    width: var(--dig-input-checkbox-checkmark-size);
    min-width: var(--dig-input-checkbox-checkmark-size);
    height: var(--dig-input-checkbox-checkmark-size);
    min-height: var(--dig-input-checkbox-checkmark-size);
    cursor: pointer;
    transition: all var(--dig-input-checkbox-checkmark-transition-duration);
    border-radius: var(--dig-input-checkbox-checkmark-background-radius);

    &:hover {
      background-color: var(--dig-input-checkbox-checkmark-hover-color);
    }

    &:before,
    &:after {
      transition: all var(--dig-input-checkbox-checkmark-transition-duration);
      content: '';
      border-radius: var(--dig-input-checkbox-checkmark-radius);
      background-color: var(--dig-input-checkbox-checkmark-color);
      opacity: 0;
    }

    &:before {
      // left: 0px;
      width: var(--dig-input-checkbox-checkmark-before-width);
      height: var(--dig-input-checkbox-checkmark-before-height);
    }

    &:after {
      // right: 0px;
      margin-left: 14px;
      width: var(--dig-input-checkbox-checkmark-after-width);
      height: var(--dig-input-checkbox-checkmark-after-height);
    }
  }

  .field {
    position: relative;
    align-items: center;
    align-self: center;
    align-content: center;
    display: flex;

    &.disabled {
      pointer-events: none;
      opacity: 0.7;
    }
  }

  .label {
    display: inline-flex;
    margin-left: var(--dig-input-checkbox-label-left);
    color: var(--dig-input-checkbox-label-color);
    cursor: pointer;
  }

  .input-text {
    display: none;
    margin: 0;
    padding: var(--dig-input-checkbox-text-input-padding);
    margin-left: var(--dig-input-checkbox-label-left);
    border-radius: var(--dig-input-checkbox-text-input-border-radius);
    border: 0;
    outline: 0;
    box-shadow: var(--dig-input-checkbox-text-input-box-shadow);
    left: calc(
      var(--dig-input-checkbox-label-left) +
        var(--dig-input-checkbox-label-padding-horizontal)
    );
    font-size: var(--dig-input-checkbox-label-font-size);
    width: 100%;

    &:focus {
      box-shadow: var(--dig-input-checkbox-text-input-focused-box-shadow);
    }
  }
}
