:host {
  --dig-input-checkbox-wrapper-margin-vertical: 0px;
  --dig-input-checkbox-wrapper-margin-horizontal: 2px;
  --dig-input-checkbox-wrapper-title-margin: 0px 0px 5px 0px;
  --dig-input-checkbox-wrapper-title-align: left;
  --dig-input-checkbox-wrapper-title-color: var(--dig-input-global-label-color);
  --dig-input-checkbox-wrapper-title-font-size: 18px;
  --dig-input-checkbox-wrapper-title-font-weight: 500;
  --dig-input-checkbox-wrapper-grid-template-column: 1fr;

  position: relative;
  display: block;
  margin: var(--dig-input-checkbox-wrapper-margin-vertical)
    var(--dig-input-checkbox-wrapper-margin-horizontal);
  line-height: 1;

  .checkbox-wrapper {
    display: grid;
    grid-template-columns: var(
      --dig-input-checkbox-wrapper-grid-template-column
    );
  }

  .title {
    margin: var(--dig-input-checkbox-wrapper-title-margin);
    padding: 0;
    text-align: var(--dig-input-checkbox-wrapper-title-align);
    color: var(--dig-input-checkbox-wrapper-title-color);
    font-size: var(--dig-input-checkbox-wrapper-title-font-size);
    font-weight: var(--dig-input-checkbox-wrapper-title-font-weight);
  }
}
