:host {
  --dig-radio-wrapper-margin-horizontal: 2px;
  --dig-radio-checkmark-size: 20px;
  --dig-radio-label-color: var(--dig-input-global-label-color);
  --dig-radio-label-font-size: var(--dig-input-global-big-font-size);
  --dig-radio-label-left: var(--dig-radio-checkmark-size);
  --dig-radio-label-padding-horizontal: 8px;
  --dig-radio-label-padding-vertical: 4px;
  --dig-radio-field-margin-vertical: 8px;
  --dig-radio-field-margin-horizontal: 2px;
  --dig-radio-checkmark-background-color: var(--dig-input-global-valid-color);
  --dig-radio-checkmark-box-shadow: var(--dig-input-global-box-shadow-thick)
    var(--dig-input-global-border-color);
  --dig-radio-checkmark-box-shadow-focused: var(
      --dig-input-global-box-shadow-blur
    )
    var(--dig-input-global-focused-color);
  --dig-radio-checkmark-hover-color: #eeeeee;
  --dig-radio-checkmark-color: var(--dig-input-global-valid-color);
  --dig-radio-checkmark-inner-margin: 3px;
  --dig-radio-checkmark-inner-size: calc(
    var(--dig-radio-checkmark-size) - var(--dig-radio-checkmark-inner-margin) *
      2
  );
  --dig-radio-checkmark-transition-duration: 0.3s;
  --dig-radio-text-input-box-shadow: var(--dig-input-global-box-shadow-thin)
    var(--dig-input-global-border-color);
  --dig-radio-text-input-focused-box-shadow: var(
      --dig-input-global-box-shadow-blur
    )
    var(--dig-input-global-focused-color);
  --dig-radio-text-input-padding: 4px;
  --dig-radio-text-input-border-radius: 2px;

  line-height: 1;

  .dig-input-radio-field {
    position: relative;
    align-content: center;
    display: flex;
    padding: var(--dig-radio-field-margin-vertical)
      var(--dig-radio-field-margin-horizontal);
  }

  .dig-input-radio {
    opacity: 0;

    &:focus {
      ~ .checkmark {
        box-shadow: var(--dig-radio-checkmark-box-shadow-focused);
      }
    }

    &:checked {
      ~ .checkmark:before {
        transform: scale(1);
      }
    }

    &:not(:checked) {
      ~ .checkmark.laber-hover {
        background-color: var(--dig-radio-checkmark-hover-color);
      }

      ~ .checkmark:hover {
        background-color: var(--dig-radio-checkmark-hover-color);
      }
    }

    &:not(:checked):hover {
      ~ .checkmark {
        background-color: var(--dig-radio-checkmark-hover-color);
      }
    }

    &.dig-input-radio-text:checked {
      ~ .dig-input-radio-input-text {
        display: block;
      }
    }

    &.dig-input-radio-text:checked {
      ~ .label {
        color: transparent;
      }
    }
  }

  .checkmark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    box-shadow: var(--dig-radio-checkmark-box-shadow);
    width: var(--dig-radio-checkmark-size);
    height: var(--dig-radio-checkmark-size);
    cursor: pointer;
    border-radius: calc(var(--dig-radio-checkmark-size) / 2);
    padding: var(--dig-checkbox-label-padding-horizontal)
      var(--dig-radio-label-padding-vertical);
    transition: background-color var(--dig-radio-checkmark-transition-duration);

    &:before {
      transition: transform var(--dig-radio-checkmark-transition-duration);
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      margin: var(--dig-radio-checkmark-inner-margin);
      width: var(--dig-radio-checkmark-inner-size);
      height: var(--dig-radio-checkmark-inner-size);
      border-radius: calc(var(--dig-radio-checkmark-inner-size) / 2);
      background-color: var(--dig-radio-checkmark-color);
      transform: scale(0);
    }
  }

  .label {
    display: inline-flex;
    margin-left: var(--dig-radio-label-left);
    color: var(--dig-radio-label-color);
    font-size: var(--dig-radio-label-font-size);
    cursor: pointer;
  }

  .dig-input-radio-input-text {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: var(--dig-radio-text-input-padding);
    border-radius: var(--dig-radio-text-input-border-radius);
    border: 0;
    outline: 0;
    box-shadow: var(--dig-radio-text-input-box-shadow);
    left: calc(
      var(--dig-radio-label-left) + var(--dig-radio-label-padding-horizontal)
    );
    font-size: var(--dig-radio-label-font-size);
    width: calc(
      100% - var(--dig-radio-label-left) -
        var(--dig-radio-label-padding-horizontal) -
        var(--dig-radio-text-input-padding) * 2
    );

    &:focus {
      box-shadow: var(--dig-radio-text-input-focused-box-shadow);
    }
  }
}
