:host {
  --dig-input-radio-wrapper-margin-vertical: 0px;
  --dig-input-radio-wrapper-margin-horizontal: 2px;
  --dig-input-radio-wrapper-title-margin: 0px 0px 5px 0px;
  --dig-input-radio-wrapper-title-align: left;
  --dig-input-radio-wrapper-title-color: var(--dig-input-global-label-color);
  --dig-input-radio-wrapper-title-font-size: 18px;
  --dig-input-radio-wrapper-title-font-weight: 500;
  --dig-input-radio-wrapper-grid-template-column: 1fr;
  --dig-input-label-asterisk-color: var(--dig-input-global-invalid-color);
  --dig-input-field-box-shadow-invalid: var(--dig-input-global-box-shadow-blur)
    var(--dig-input-global-invalid-color);

  position: relative;
  display: block;
  margin: var(--dig-input-radio-wrapper-margin-vertical)
    var(--dig-input-radio-wrapper-margin-horizontal);
  line-height: 1;

  .radio-wrapper {
    display: grid;
    grid-template-columns: var(--dig-input-radio-wrapper-grid-template-column);
    border-radius: 4px;

    &.invalid {
      box-shadow: var(--dig-input-field-box-shadow-invalid);
    }
  }

  .asterisk {
    color: var(--dig-input-label-asterisk-color);
  }

  .title {
    margin: var(--dig-input-radio-wrapper-title-margin);
    padding: 0;
    text-align: var(--dig-input-radio-wrapper-title-align);
    color: var(--dig-input-radio-wrapper-title-color);
    font-size: var(--dig-input-radio-wrapper-title-font-size);
    font-weight: var(--dig-input-radio-wrapper-title-font-weight);
  }
}
