:host {
  --dig-input-textarea-label-font-size: var(--dig-input-global-big-font-size);
  --dig-input-textarea-label-padding-vertical: 0px;
  --dig-input-textarea-label-padding-horizontal: 6px;
  --dig-input-textarea-label-color: var(--dig-input-global-label-color);

  --dig-input-textarea-error-font-size: var(
    --dig-input-global-normal-font-size
  );
  --dig-input-textarea-error-padding: 4px;

  --dig-input-textarea-wrapper-padding-top: calc(
    calc(
        var(--dig-input-textarea-label-font-size) +
          var(--dig-input-textarea-label-padding-vertical)
      ) / 2
  );
  --dig-input-textarea-wrapper-padding-bottom: calc(
    var(--dig-input-textarea-error-font-size) + 2 *
      var(--dig-input-textarea-error-padding)
  );
  --dig-input-textarea-wrapper-padding-left: 2px;
  --dig-input-textarea-wrapper-padding-right: 2px;
  --dig-input-textarea-min-height: 38px;
  --dig-input-textarea-max-height: 200px;
  --dig-input-textarea-background-color: var(
    --dig-input-global-background-color
  );
  --dig-input-textarea-color: var(--dig-input-global-color);

  position: relative;
  display: block;
  margin: 0;
  padding-top: var(--dig-input-textarea-wrapper-padding-top);
  padding-bottom: var(--dig-input-textarea-wrapper-padding-bottom);
  padding-left: var(--dig-input-textarea-wrapper-padding-left);
  padding-right: var(--dig-input-textarea-wrapper-padding-right);
  line-height: 1;

  .dig-input-textarea {
    font-size: 16px;
    padding: 10px;
    border: 0;
    margin: 0;
    outline: 0;
    box-shadow: 0 0;
    resize: none;
    overflow: hidden;
    border-radius: 4px;
    background-color: var(--dig-input-textarea-background-color);
    color: var(--dig-input-textarea-color);
  }

  dig-input-label {
    --dig-input-label-color: var(--dig-input-textarea-label-color);
    --dig-input-label-background-color: var(
      --dig-input-textarea-background-color
    );
  }

  .dig-input-grow-wrap {
    display: grid;
    width: 100%;
    min-height: var(--dig-input-textarea-min-height);
    max-height: var(--dig-input-textarea-max-height);
    overflow: scroll;
    border-radius: 4px;

    &::after {
      content: attr(data-value) ' ';
      white-space: pre-wrap;
      visibility: hidden;
    }

    .dig-input-textarea,
    &::after {
      padding: 0.5rem;
      font: inherit;
      grid-area: 1 / 1 / 2 / 2;
    }
  }

  .dig-input-grab {
    z-index: 0;
    position: absolute;
    bottom: 2px;
    right: 2px;
    border: 8px solid rgb(216, 216, 216);
    border-top: 8px solid transparent;
    border-left: 8px solid transparent;
    width: 0px;
    height: 0px;
    cursor: grab;
  }
}
