:host {
  --dig-input-selection-max-shown: 5;
  --dig-input-selection-item-height: 10px;
  --dig-input-selection-box-shadow: var(--dig-input-global-box-shadow-3d);
  --dig-input-selection-z-index: 10;
  --dig-input-selection-border-radius: 6px;

  cursor: pointer;
  width: 100%;

  .dig-input-selection {
    position: relative;
    z-index: var(--dig-input-selection-z-index);
    display: grid;
    margin: 0px;
    padding: 0px;
    overflow: scroll;
    max-height: 0px;

    border-bottom-left-radius: var(--dig-input-selection-border-radius);
    border-bottom-right-radius: var(--dig-input-selection-border-radius);
    box-sizing: border-box;
    box-shadow: var(--dig-input-selection-box-shadow);
    background-color: white;

    &.open {
      max-height: calc(
        var(--dig-input-selection-max-shown) *
          var(--dig-input-selection-item-height)
      );
    }
  }
}
