:host {
  .dig-input-close {
    position: absolute;
    top: 50%;
    right: 20px;
    color: var(--dig-input-select-label-color);
    font-size: var(--dig-input-select-label-font-size);
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) translateX(8px) rotate(45deg);
      background-color: var(--dig-input-select-label-color);
      width: 2px;
      height: 20px;
      border-radius: 2px;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) translateX(8px) rotate(-45deg);
      background-color: var(--dig-input-select-label-color);
      width: 2px;
      height: 20px;
      border-radius: 2px;
    }
  }
}
