:host {
  --dig-input-error-color: var(--dig-input-global-invalid-color);
  --dig-input-error-font-size: var(--dig-input-global-normal-font-size);
  --dig-input-error-padding: 4px;
  --dig-input-error-animation-duration: var(
    --dig-input-global-text-appear-duration
  );

  .dig-input-error {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    color: var(--dig-input-error-color);
    font-size: var(--dig-input-error-font-size);
    padding: var(--dig-input-error-padding);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: calc(100% - var(--dig-input-error-padding) * 2);

    &.shown {
      animation: errorAppear var(--dig-input-error-animation-duration);
      display: block;
    }
  }
}

@keyframes errorAppear {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
