:host {
  --dig-input-label-left: 8px;
  --dig-input-label-color: var(--dig-input-global-label-color);
  --dig-input-label-font-size: var(--dig-input-global-big-font-size);
  --dig-input-label-padding-horizontal: 6px;
  --dig-input-label-padding-vertical: 0px;
  --dig-input-label-animation-duration: var(
    --dig-input-global-label-animation-duration
  );
  --dig-input-label-max-width: calc(
    100% - 2 * var(--dig-input-label-padding-horizontal) -
      var(--dig-input-label-left)
  );

  --dig-input-label-box-shadow: var(--dig-input-global-box-shadow-label)
    var(--dig-input-global-transparent-focused-color);
  --dig-input-label-asterisk-color: var(--dig-input-global-invalid-color);
  --dig-input-label-scale: var(--dig-input-global-label-scale);
  --dig-input-label-cursor: text;
  --dig-input-label-background-color: white;

  .dig-input-label {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: var(--dig-input-label-left);
    color: var(--dig-input-label-color);
    font-size: var(--dig-input-label-font-size);
    padding-left: var(--dig-input-label-padding-horizontal);
    padding-right: var(--dig-input-label-padding-horizontal);
    padding-top: var(--dig-input-label-padding-vertical);
    padding-bottom: var(--dig-input-label-padding-vertical);
    animation: labelDown var(--dig-input-label-animation-duration);
    transform-origin: left;
    transform: translateY(-50%);
    cursor: var(--dig-input-label-cursor);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: var(--dig-input-label-max-width);
    background-color: var(--dig-input-label-background-color);
    border-radius: var(--dig-input-label-font-size);

    &.active {
      animation: labelUp var(--dig-input-label-animation-duration) forwards;
      box-shadow: var(--dig-input-label-box-shadow);
      max-width: calc(
        var(--dig-input-label-max-width) / var(--dig-input-label-scale)
      );
    }

    &.transparent {
      background-color: transparent;
    }
  }

  .asterisk {
    color: var(--dig-input-label-asterisk-color);
  }
}

@keyframes labelUp {
  0% {
    top: 50%;
  }

  100% {
    top: 0%;
    transform: translateY(-50%) scale(var(--dig-input-label-scale));
  }
}

@keyframes labelDown {
  0% {
    top: 0%;
    transform: translateY(-50%) scale(var(--dig-input-label-scale));
  }

  100% {
    top: 50%;
  }
}
