:host {
  --dig-input-hint-color: var(--dig-input-global-hint-color);
  --dig-input-hint-font-size: var(--dig-input-global-normal-font-size);
  --dig-input-hint-padding: 4px;
  --dig-input-hint-animation-duration: var(
    --dig-input-global-text-appear-duration
  );

  .dig-input-hint {
    position: absolute;
    top: 100%;
    z-index: 1;
    padding: var(--dig-input-hint-padding);
    max-width: calc(100% - var(--dig-input-hint-padding) * 2);
    color: var(--dig-input-hint-color);
    font-size: var(--dig-input-hint-font-size);
    animation: hintAppear var(--dig-input-hint-animation-duration);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &.hidden {
      display: none;
    }

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }
  }
}

@keyframes hintAppear {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
