:host {
  .dig-input-arrow {
    position: absolute;
    top: 50%;
    transition: transform var(--dig-input-select-label-animation-duration);
    right: var(--dig-input-select-label-left);
    color: var(--dig-input-select-label-color);
    font-size: var(--dig-input-select-label-font-size);
    cursor: pointer;
    transform: translateY(-50%);

    &:after {
      content: '▾';
    }

    &.toggled {
      transform: translateY(-50%) rotate(-180deg);
    }
  }
}
