:host {
  --dig-input-field-border-radius: 4px;
  --dig-input-field-border-color: #cccccc;
  --dig-input-field-padding-left: 0px;
  --dig-input-field-padding-right: 0px;
  --dig-input-field-padding-top: 0px;
  --dig-input-field-padding-bottom: 0px;

  --dig-input-field-box-shadow: var(--dig-input-global-box-shadow-thin)
    var(--dig-input-field-border-color);
  --dig-input-field-box-shadow-focused: var(--dig-input-global-box-shadow-blur)
    var(--dig-input-global-focused-color);
  --dig-input-field-box-shadow-valid: var(--dig-input-global-box-shadow-blur)
    var(--dig-input-global-valid-color);
  --dig-input-field-box-shadow-invalid: var(--dig-input-global-box-shadow-blur)
    var(--dig-input-global-invalid-color);

  .dig-input-field {
    z-index: 2;
    display: flex;
    position: relative;
    box-sizing: border-box;
    box-shadow: var(--dig-input-field-box-shadow);
    border-radius: var(--dig-input-field-border-radius);

    padding-left: var(--dig-input-field-padding-left);
    padding-right: var(--dig-input-field-padding-right);
    padding-top: var(--dig-input-field-padding-top);
    padding-bottom: var(--dig-input-field-padding-bottom);

    &.show-validity {
      &.valid {
        box-shadow: var(--dig-input-field-box-shadow-valid);
      }

      &.invalid {
        box-shadow: var(--dig-input-field-box-shadow-invalid);
      }
    }

    &.focused {
      box-shadow: var(--dig-input-field-box-shadow-focused) !important;
    }

    &.disabled,
    &.readonly {
      pointer-events: none;
    }
  }
}
