:host {
  --dig-input-show-password-size: 24px;
  --dig-input-show-password-color: var(--dig-input-global-label-color);
  --dig-input-show-password-right: 0px;

  align-self: center;

  .dig-input-show-password {
    position: relative;
    width: var(--dig-input-show-password-size);
    display: none;
    margin: 0px 10px;

    &.shown {
      display: flex;
    }

    .dig-input-show-password-button {
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 0px;
      transform: translateY(-50%);
      color: var(--dig-input-show-password-color);
      width: var(--dig-input-show-password-size);
      height: calc(var(--dig-input-show-password-size) * 3 / 4);
      border-bottom-right-radius: calc(var(--dig-input-show-password-size) * 2);
      border-bottom-left-radius: calc(var(--dig-input-show-password-size) * 2);
      overflow: hidden;
      box-sizing: border-box;
      opacity: 1;
      cursor: pointer;

      &:hover {
        filter: brightness(80%);
      }

      &.toggled {
        .dig-input-show-password-line {
          opacity: 1;
        }
      }

      &:after,
      &:before {
        content: '';
        display: block;
        border-radius: calc(var(--dig-input-show-password-size) * 2);
        position: absolute;
        box-sizing: border-box;
      }

      &:after {
        top: 2px;
        box-shadow: inset 0
            calc(0px - var(--dig-input-show-password-size) / 4 - 2px) 0 2px,
          inset 0 0 0 2px;
        width: var(--dig-input-show-password-size);
        height: var(--dig-input-show-password-size);
      }

      &:before {
        width: calc(var(--dig-input-show-password-size) / 3);
        height: calc(var(--dig-input-show-password-size) / 3);
        border: 2px solid;
        bottom: calc(var(--dig-input-show-password-size) / 6);
        left: calc(var(--dig-input-show-password-size) / 3);
      }

      .dig-input-show-password-line {
        position: absolute;
        width: var(--dig-input-show-password-size);
        height: 2px;
        top: calc(50% + 1px);
        transform: translateY(-50%) rotate(25deg);
        opacity: 0;
        border-radius: 2px;
        background-color: var(--dig-input-show-password-color);
      }
    }
  }
}
