:host {
  --dig-input-fixed-text-color: var(--dig-input-global-label-color);
  --dig-input-fixed-text-width: 40px;
  --dig-input-fixed-text-padding-horizontal: 8px;

  .dig-input-fixed-text {
    z-index: 2;
    position: relative;
    top: 50%;
    display: none;
    align-items: center;
    transform: translateY(-50%);
    height: 100%;
    text-align: center;
    overflow: hidden;
    min-width: var(--dig-input-fixed-text-width);
    color: var(--dig-input-fixed-text-color);
    padding: 0px var(--dig-input-fixed-text-padding-horizontal);

    span {
      width: 100%;
    }

    &.shown {
      display: flex;
    }

    &.left {
      left: 0;
      border-right: 1px solid var(--dig-input-fixed-text-color);
    }

    &.right {
      right: 0;
      border-left: 1px solid var(--dig-input-fixed-text-color);
    }
  }
}
