:host {
  --dig-input-password-font-size: var(--dig-input-global-big-font-size);
  --dig-input-password-padding-vertical: 12px;
  --dig-input-password-padding-horizontal: 12px;
  --dig-input-password-border-radius: 4px;

  --dig-input-password-label-left: 8px;
  --dig-input-password-label-padding-vertical: 0px;
  --dig-input-password-label-padding-horizontal: 6px;
  --dig-input-password-label-font-size: var(--dig-input-global-big-font-size);
  --dig-input-password-label-scale: var(--dig-input-global-label-scale);
  --dig-input-password-label-color: var(--dig-input-global-label-color);
  --dig-input-password-label-animation-duration: var(
    --dig-input-global-label-animation-duration
  );
  --dig-input-password-label-box-shadow: var(
      --dig-input-global-box-shadow-label
    )
    var(--dig-input-global-transparent-focused-color);
  --dig-input-password-label-asterisk-color: var(
    --dig-input-global-invalid-color
  );

  --dig-input-password-error-font-size: var(
    --dig-input-global-normal-font-size
  );
  --dig-input-password-error-padding: 4px;
  --dig-input-password-error-color: var(--dig-input-global-invalid-color);
  --dig-input-password-error-animation-duration: var(
    --dig-input-global-text-appear-duration
  );

  --dig-input-password-hint-font-size: var(--dig-input-global-normal-font-size);
  --dig-input-password-hint-padding: 4px;
  --dig-input-password-hint-animation-duration: var(
    --dig-input-global-text-appear-duration
  );
  --dig-input-password-hint-color: var(--dig-input-global-hint-color);

  --dig-input-password-maxlength-color: var(--dig-input-global-hint-color);
  --dig-input-password-maxlength-font-size: 10px;
  --dig-input-password-maxlength-padding: 4px;

  --dig-input-password-wrapper-padding-top: calc(
    calc(
        var(--dig-input-password-label-font-size) +
          var(--dig-input-password-label-padding-vertical)
      ) / 2
  );
  --dig-input-password-wrapper-padding-bottom: calc(
    var(--dig-input-password-error-font-size) + 2 *
      var(--dig-input-password-error-padding)
  );
  --dig-input-password-wrapper-padding-left: 2px;
  --dig-input-password-wrapper-padding-right: 2px;

  --dig-input-password-disabled-color: var(--dig-input-global-disabled-color);

  --dig-input-password-background-color: var(
    --dig-input-global-background-color
  );
  --dig-input-password-color: var(--dig-input-global-color);

  position: relative;
  display: block;
  margin: 0;
  padding-top: var(--dig-input-password-wrapper-padding-top);
  padding-bottom: var(--dig-input-password-wrapper-padding-bottom);
  padding-left: var(--dig-input-password-wrapper-padding-left);
  padding-right: var(--dig-input-password-wrapper-padding-right);
  line-height: 1;

  .dig-input-password {
    position: relative;
    display: inline-flex;
    flex-grow: 1;
    font-size: var(--dig-input-password-font-size);
    border-radius: var(--dig-input-password-border-radius);
    border: 0;
    margin: 0;
    outline: 0;
    box-shadow: 0 0;
    padding-left: var(--dig-input-password-padding-horizontal);
    padding-right: var(--dig-input-password-padding-horizontal);
    padding-top: var(--dig-input-password-padding-vertical);
    padding-bottom: var(--dig-input-password-padding-vertical);
    background-color: var(--dig-input-password-background-color);
    color: var(--dig-input-password-color);

    &.disabled {
      background-color: var(--dig-input-password-disabled-color);
    }
  }

  dig-input-label {
    --dig-input-label-left: var(--dig-input-password-label-left);
    --dig-input-label-color: var(--dig-input-password-label-color);
    --dig-input-label-font-size: var(--dig-input-password-label-font-size);
    --dig-input-label-padding-horizontal: var(
      --dig-input-password-label-padding-horizontal
    );
    --dig-input-label-padding-vertical: var(
      --dig-input-password-label-padding-vertical
    );
    --dig-input-label-animation-duration: var(
      --dig-input-password-label-animation-duration
    );
    --dig-input-label-box-shadow: var(--dig-input-password-label-box-shadow);
    --dig-input-label-asterisk-color: var(
      --dig-input-password-label-asterisk-color
    );
    --dig-input-label-scale: var(--dig-input-password-label-scale);
    --dig-input-label-background-color: var(
      --dig-input-password-background-color
    );
  }

  dig-input-hint {
    --dig-input-hint-font-size: var(--dig-input-password-hint-font-size);
    --dig-input-hint-padding: var(--dig-input-password-hint-padding);
    --dig-input-hint-color: var(--dig-input-password-hint-color);
    --dig-input-hint-animation-duration: var(
      --dig-input-password-hint-animation-duration:
    );

    &.maxlength {
      --dig-input-hint-font-size: var(--dig-input-password-maxlength-font-size);
      --dig-input-hint-padding: var(--dig-input-password-maxlength-padding);
      --dig-input-hint-color: var(--dig-input-password-maxlength-color);
    }
  }

  dig-input-error {
    --dig-input-error-font-size: var(--dig-input-password-error-font-size: );
    --dig-input-error-padding: var(--dig-input-password-error-padding: );
    --dig-input-error-animation-duration: var(
      --dig-input-password-error-animation-duration:
    );
    --dig-input-error-color: var(--dig-input-password-error-color: );
  }

  dig-input-show-password {
    --dig-input-show-password-right: var(
      --dig-input-password-padding-horizontal
    );
  }
}
