:host {
  --dig-input-phone-font-size: var(--dig-input-global-big-font-size);
  --dig-input-phone-label-font-size: var(--dig-input-global-big-font-size);
  --dig-input-phone-box-shadow: var(--dig-input-global-box-shadow-thin)
    var(--dig-input-phone-border-color);
  --dig-input-phone-box-shadow-focused: var(--dig-input-global-box-shadow-blur)
    var(--dig-input-global-focused-color);
  --dig-input-phone-box-shadow-valid: var(--dig-input-global-box-shadow-blur)
    var(--dig-input-global-valid-color);
  --dig-input-phone-box-shadow-invalid: var(--dig-input-global-box-shadow-blur)
    var(--dig-input-global-invalid-color);
  --dig-input-phone-label-box-shadow: var(--dig-input-global-box-shadow-label)
    var(--dig-input-global-transparent-focused-color);
  --dig-input-phone-error-font-size: var(--dig-input-global-normal-font-size);
  --dig-input-phone-error-color: var(--dig-input-global-invalid-color);
  --dig-input-phone-hint-font-size: var(--dig-input-global-normal-font-size);
  --dig-input-phone-asterisk-color: var(--dig-input-global-invalid-color);
  --dig-input-text-error-animation-duration: var(
    --dig-input-global-text-appear-duration
  );
  --dig-input-phone-label-animation-duration: var(
    --dig-input-global-label-animation-duration
  );
  --dig-input-phone-border-radius: var(--dig-input-global-field-border-radius);
  --dig-input-phone-border-color: var(--dig-input-global-border-color);
  --dig-input-phone-label-left: var(--dig-input-global-label-left);
  --dig-input-phone-label-padding-vertical: var(
    --dig-input-global-label-padding-vertical
  );
  --dig-input-phone-label-padding-horizontal: var(
    --dig-input-global-label-padding-horizontal
  );
  --dig-input-phone-label-scale: var(--dig-input-global-label-scale);
  --dig-input-phone-disabled-color: var(--dig-input-global-disabled-color);
  --dig-input-phone-label-color: var(--dig-input-global-label-color);
  --dig-input-phone-hint-color: var(--dig-input-global-hint-color);
  --dig-input-phone-arrow-color: var(--dig-input-global-arrow-color);
  --dig-input-phone-wrapper-top: calc(
    calc(
        var(--dig-input-phone-label-font-size) +
          var(--dig-input-phone-label-padding-vertical)
      ) / 2
  );
  --dig-input-phone-wrapper-bottom: calc(
    var(--dig-input-phone-error-font-size) + 2 *
      var(--dig-input-phone-error-padding)
  );
  --dig-input-phone-hint-padding: 4px;
  --dig-input-phone-hint-animation-duration: var(
    --dig-input-global-text-appear-duration
  );

  --dig-input-phone-number-suggestion-diplayed: 6;
  --dig-input-phone-suggestion-height: 30px;
  --dig-input-phone-padding-vertical: 12px;
  --dig-input-phone-padding-horizontal: 12px;
  --dig-input-phone-space-inter-field: 6px;
  --dig-input-phone-select-padding-horizontal: 8px;
  --dig-input-phone-current-country-item-padding: 2px;

  --dig-input-phone-wrapper-left: 2px;
  --dig-input-phone-wrapper-right: 2px;
  --dig-input-phone-error-padding: 4px;
  --dig-input-phone-flag-size: 24px;
  --dig-input-phone-phone-prefix-size: 12px;

  --dig-input-phone-background-color: var(--dig-input-global-background-color);
  --dig-input-phone-color: var(--dig-input-global-color);

  position: relative;
  display: grid;
  margin: 0;
  width: calc(
    100% -
      (
        var(--dig-input-phone-wrapper-left) +
          var(--dig-input-phone-wrapper-right)
      )
  );
  padding-top: var(--dig-input-phone-wrapper-top);
  padding-bottom: var(--dig-input-phone-wrapper-bottom);
  padding-left: var(--dig-input-phone-wrapper-left);
  padding-right: var(--dig-input-phone-wrapper-right);
  line-height: 1;

  .select-field {
    display: flex;
  }

  dig-input-field {
    width: 100%;
  }

  .select-flags {
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 0px var(--dig-input-phone-select-padding-horizontal);
    margin-right: var(--dig-input-phone-space-inter-field);
    box-shadow: var(--dig-input-phone-box-shadow);
    border-radius: var(--dig-input-phone-border-radius);

    .arrow {
      color: var(--dig-input-phone-arrow-color);
      padding: 0px var(--dig-input-phone-current-country-item-padding);

      &:before {
        content: '▾';
      }
    }

    .phone-flag {
      font-size: var(--dig-input-phone-flag-size);
      padding: 0px var(--dig-input-phone-current-country-item-padding);
    }

    .phone-prefix {
      font-size: var(--dig-input-phone-phone-prefix-size);
      padding: 0px var(--dig-input-phone-current-country-item-padding);
      color: var(--dig-input-phone-hint-color);
      width: calc(2.5 * var(--dig-input-phone-phone-prefix-size));
      text-align: center;
    }

    background-color: var(--dig-input-phone-background-color);
    color: var(--dig-input-phone-color);

    .input-search {
      opacity: 0;
      width: 0px;
      padding: 0px var(--dig-input-phone-current-country-item-padding);
      border: 0;
      outline: none;
      box-shadow: 0;
      z-index: -1;

      background-color: var(--dig-input-phone-background-color);
      color: var(--dig-input-phone-color);
    }

    .dropdown-icon {
      display: inline-block;
    }

    .list-flags {
      display: none;
      cursor: pointer;
      position: absolute;
      padding: 0px;
      top: 28px;
      left: 0;
      min-width: 240px;
      list-style: none;
      list-style-type: none;
      box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
        0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
      overflow-x: hidden;
      overflow-y: scroll;
      white-space: nowrap;
      border-bottom-left-radius: var(--dig-input-phone-border-radius);
      border-bottom-right-radius: var(--dig-input-phone-border-radius);
      max-height: calc(
        var(--dig-input-phone-number-suggestion-diplayed) *
          var(--dig-input-phone-suggestion-height)
      );
      background-color: var(--dig-input-global-selection-background-color);

      .list-item {
        display: flex;
        align-items: center;
        border-collapse: collapse;
        font-size: 16px;
        background-color: var(--dig-input-global-selection-background-color);
        overflow: none;
        z-index: 20;
        height: var(--dig-input-phone-suggestion-height);
        color: var(--dig-input-global-selection-color);

        &:hover {
          background-color: var(--dig-input-global-selection-hover-color);
        }

        &.selected {
          background-color: var(--dig-input-global-selection-selected-color);

          &:hover {
            background-color: var(
              --dig-input-global-selection-selected-and-hover-color
            );
          }
        }

        &.hidden {
          display: none;
        }

        .list-item-flag {
          font-size: var(--dig-input-phone-flag-size);
          padding: 0px 4px;
        }

        .list-item-phone {
          color: #999;
          font-size: var(--dig-input-phone-phone-prefix-size);
          padding: 0px 4px;
        }

        .list-item-name {
          color: #666;
          font-size: 13px;
          padding: 0px 4px;
        }
      }
    }

    &.open {
      box-shadow: var(--dig-input-phone-box-shadow-focused);

      .input-search {
        opacity: 1;
        width: 50px;
        z-index: 10;
      }

      .arrow {
        transform: rotate(180deg);
      }

      .list-flags {
        display: block;
        opacity: 1;
        z-index: 10;
      }
    }
  }

  .dig-input-phone {
    position: relative;
    display: inline-flex;
    flex-grow: 1;
    font-size: var(--dig-input-phone-font-size);
    border-radius: 4px;
    border: 0;
    margin: 0;
    outline: 0;
    box-shadow: 0 0;
    width: 50px;
    padding-left: var(--dig-input-phone-padding-horizontal);
    padding-right: var(--dig-input-phone-padding-horizontal);
    padding-top: var(--dig-input-phone-padding-vertical);
    padding-bottom: var(--dig-input-phone-padding-vertical);
    background-color: var(--dig-input-phone-background-color);
    color: var(--dig-input-phone-color);

    &:not(:focus)::placeholder {
      color: transparent;
    }

    &.disabled {
      background-color: var(--dig-input-phone-disabled-color);
    }
  }

  dig-input-label {
    --dig-input-label-color: var(--dig-input-phone-label-color);
    --dig-input-label-background-color: var(--dig-input-phone-background-color);
  }
}
