:host {
  --dig-input-global-border-color: #cccccc;
  --dig-input-global-focused-color: #1155dd;
  --dig-input-global-transparent-focused-color: #1155dd2e;
  --dig-input-global-valid-color: #55aa55;
  --dig-input-global-invalid-color: #dd5555;
  --dig-input-global-label-color: #888888;
  --dig-input-global-hint-color: #aaaaaa;
  --dig-input-global-disabled-color: #dddddd;
  --dig-input-global-arrow-color: #333333;
  --dig-input-global-selection-background-color: white;
  --dig-input-global-selection-color: rgb(66, 71, 82);
  --dig-input-global-selection-hover-color: rgb(206, 233, 255);
  --dig-input-global-selection-selected-color: rgb(230, 240, 250);
  --dig-input-global-selection-selected-and-hover-color: rgb(199, 225, 246);
  --dig-input-global-box-shadow-thin: 0 0 0 1px;
  --dig-input-global-box-shadow-thick: 0 0 0 2px;
  --dig-input-global-box-shadow-blur: 0 0 1px 1px;
  --dig-input-global-box-shadow-label: -1px 1px 5px 0px;
  --dig-input-global-box-shadow-3d: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
    0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  --dig-input-global-small-font-size: 10px;
  --dig-input-global-normal-font-size: 12px;
  --dig-input-global-big-font-size: 16px;
  --dig-input-global-text-appear-duration: 0.3s;
  --dig-input-global-label-animation-duration: 0.2s;
  --dig-input-global-field-border-radius: 4px;
  --dig-input-global-label-left: 8px;
  --dig-input-global-label-padding-vertical: 0px;
  --dig-input-global-label-padding-horizontal: 6px;
  --dig-input-global-label-scale: 0.8;
  --dig-input-global-background-color: white;
  --dig-input-global-color: black;

  input {
    appearance: none;
    -webkit-appearance: none;
    border: 0px solid white; // Important to works with safari mobile
  }
}
